.homeSection {
  margin: 2rem 0;
  display: grid;
  grid-template-rows: auto auto; /* Two rows */
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.homeInfoContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;

  &-name {
    margin: 0;
    font-size: 3rem;
  }
  &-job {
    margin: 0;
    font-size: 2rem;
  }
  &-description {
    font-size: 1.2rem;
    text-align: justify;
  }
  &-linkContainer {
    display: flex;
    flex-wrap: wrap;
    &-link {
      box-shadow: 2px 5px 10px 0px var(--clr-span1);
      text-decoration: none;
      position: relative;
      margin: 1rem 1rem 1rem 0;
      padding: 1rem;
      color: var(--clr-font);
      font-size: 1.5rem;
      border-radius: 1rem;

      &:hover {
        color: var(--clr-primary);
        background-color: var(--clr-font);
        box-shadow: 2px 5px 20px 10px var(--clr-span1);
        transition: 0.5s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--clr-font);
        opacity: 8%;
        border-radius: 1rem;
        z-index: -1;
      }
    }
  }
}

.techContainer {
  margin: 2rem 0;
  width: 100%;
  position: relative;
  box-shadow: 2px 5px 15px 0px var(--clr-span1);
  border-radius: 1rem;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 3;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--clr-font);
    opacity: 8%;
    border-radius: 1rem;
    z-index: -1;
  }
  &-title {
    font-size: 2rem;
    margin: 2rem;
  }

  &-articlesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-tech {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1.5rem;
      &-icon {
        width: 3rem;
        height: 3rem;
      }
      &-title {
        margin: 1rem 0 0 0;
        font-size: 1.7rem;
      }
    }
  }
}

.photoContainer {
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  grid-column-start: 2;
  grid-column-end: 3;

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1000px) {
  .homeSection {
    flex-direction: column;
    justify-content: space-around;
    grid-template-rows: auto auto auto; /* Two rows */
    grid-template-columns: auto;
  }
  .photoContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .techContainer {
    width: 100%;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .homeInfoContainer-description {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .homeInfoContainer-name {
    font-size: 2rem;
  }
  .homeInfoContainer-job {
    font-size: 1.5rem;
  }
  .homeInfoContainer-linkContainer-link {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.3rem 0.3rem 0.3rem 0;
  }
  .homeInfoContainer-description {
    font-size: 1rem;
  }
  .photoContainer {
    width: 10rem;
    height: 10rem;
  }
  .techContainer-title {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .techContainer-articlesContainer-tech-title {
    font-size: 1rem;
  }
}
