.homeSection {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.homeInfoContainer {
  display: flex;
  flex-direction: column;

  &-name {
    margin: 0;
    font-size: 3rem;
  }
  &-job {
    margin: 0;
    font-size: 2rem;
  }
  &-linkContainer {
    display: flex;
    &-link {
      box-shadow: 2px 5px 10px 0px var(--clr-span1);
      text-decoration: none;
      position: relative;
      margin: 1rem 1rem 1rem 0;
      padding: 1rem;
      color: var(--clr-font);
      font-size: 1.5rem;
      border-radius: 1rem;

      &:hover {
        color: var(--clr-primary);
        background-color: var(--clr-font);
        box-shadow: 2px 5px 20px 10px var(--clr-span1);
        transition: 0.5s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--clr-font);
        opacity: 8%;
        border-radius: 1rem;
        z-index: -1;
      }
    }
  }
}

.techContainer {
  position: relative;
  box-shadow: 2px 5px 15px 0px var(--clr-span1);
  border-radius: 1rem;
  overflow: hidden;
  width: 45%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--clr-font);
    opacity: 8%;
    border-radius: 1rem;
    z-index: -1;
  }
  &-title {
    font-size: 2.5rem;
    margin: 2rem;
  }

  &-articlesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-tech {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      &-icon {
        width: 6rem;
        height: 6rem;
      }
      &-title {
        margin: 1rem 0 0 0;
        font-size: 1.7rem;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .homeSection {
    flex-direction: column;
    justify-content: space-around;
  }
  .techContainer {
    width: 100%;
    margin-top: 2rem;
  }
}
