.sectionProjects {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 35vh;
  grid-gap: 3rem;

  &-article:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px 5px var(--clr-span1);
    background-color: var(--clr-span1);
  }
  &-article {
    transition-duration: 0.2s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    // background-color: #fff;
    cursor: pointer;

    box-shadow: 2px 5px 15px 0px var(--clr-span1);

    &::before {
      content: "";
      z-index: -5;
      opacity: 75%;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .sectionProjects {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 600px) {
  .sectionProjects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1.5rem;
    &-article:hover {
      transform: scale(1);
    }
  }
}
