.backgroundModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-bcg);
  opacity: 0.6;
  cursor: pointer;
}

.backgroundModalOpen {
  width: 100%;
  height: 100%;
}

.backgroundModalClosed {
  display: none;
}

.modalProject {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row-reverse;
  box-shadow: 5px 5px 15px 5px var(--clr-span1);
  color: var(--clr-font);
  &::before {
    content: "";

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background: var(--clr-bcg);
    opacity: 95%;
    position: absolute;
    z-index: -1;
  }
  &-closeBtn {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    padding: 0;

    border: none;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;

    &-icon {
      width: 100%;
      height: 100%;
      color: var(--clr-font);
    }
  }

  &-imgContainer {
    opacity: 0;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      overflow: hidden;
      max-height: 80%;
      border-radius: 0.5rem;
    }
  }

  &-info {
    opacity: 0;
    width: 50%;
    position: relative;
    padding: 1rem;
    &-elements {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      &-title {
        margin: 0;
      }
      &-description {
        max-height: 50%;
        overflow: auto;
      }

      &-tags {
        display: flex;
        flex-wrap: wrap;
        &-tag {
          border: 1px solid var(--clr-font);
          margin-right: 0.5rem;
          padding: 0.5rem;
          border-radius: 2rem;
          background-color: var(--clr-span1);
        }
      }
      &-links {
        display: flex;

        &-link {
          color: var(--clr-font);
          margin: 1rem 1rem 0 0;
          border: 1px var(--clr-primary) solid;
          text-decoration: none;
          padding: 1rem 2rem;
        }
        &-link:hover {
          background-color: var(--clr-span3);
          transition: 0.5s;
        }
      }
    }
  }
}

@keyframes modalOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visible {
  animation: modalOpacity 1s forwards;
}

.openModal {
  width: 90%;
  max-height: 90%;
  transition: 0.7s ease-in-out;
  opacity: 1;
}

.closeModal {
  width: 0;
  height: 0;

  opacity: 0;
}

.closeIcon {
  width: 100%;
  height: 100%;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 600px) {
  .openModal {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    transition: 0.7s ease-in-out;
    opacity: 1;
  }
  .modalProject {
    flex-direction: column;
    overflow: auto;
    background: var(--clr-bcg);
    opacity: 1;
    &::-webkit-scrollbar {
      width: 8px; /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: var(--clr-bcgvar); /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--clr-span1); /* color of the scroll thumb */
      border-radius: 1px; /* roundness of the scroll thumb */
      border: 1px solid var(--clr-span1); /* creates padding around scroll thumb */
    }
    &::before {
      content: none;
    }
    &-info {
      width: 100%;
      position: relative;
      padding: 0;
      &-elements {
        &-title {
          margin: 0.5rem;
        }
        &-tags {
          margin: 0.5rem;
        }
        &-description {
          margin: 0.5rem;
        }
        &-links {
          margin: 0.5rem;
          &-link {
            margin: 1rem 1rem 1rem 0;
          }
        }
      }
    }
    &-imgContainer {
      width: 100%;

      &-img {
        border-radius: 0;
      }
    }
  }
}
