body {
  margin: 0 2rem;
  font-family: "Urbanist", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-bcg);
  color: var(--clr-font);
}

.light-theme {
  --clr-bcg: #fff;
  --clr-font: rgb(65, 65, 65);
  --clr-primary: rgb(78, 161, 245);
}

.dark-theme {
  --clr-bcg: rgb(65, 65, 65);
  --clr-font: #fff;
  --clr-primary: rgb(151, 196, 242);
}

.themeBtn {
  font-family: inherit;
  background-color: var(--clr-bcg);
  border: 1px var(--clr-font) solid;
  padding: 0.5rem;
  color: var(--clr-font);
  cursor: pointer;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px var(--clr-font) solid;
}

.logo {
  text-decoration: none;
  color: var(--clr-font);
}

.navbar {
  &-element {
    color: var(--clr-font);
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem;
  }
}

.navbar-element:hover {
  text-decoration: underline;
}

.active {
  background-color: var(--clr-font);
  color: var(--clr-bcg);
}

.sectionProjects {
  &-article {
    width: 40rem;
    height: 40rem;
    &-img {
      object-fit: contain;
      width: 100%;
    }
  }
}

.modalProject {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  width: 30rem;
  height: 40rem;
}
